#logo-text {
  font-family: "Libre Baskerville", serif;
  font-family: "Pacifico", cursive;
}

#nav-container {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.img-carousel {
  width: 100%;
}

#event-name {
  font-weight: bold;
}

.image-event {
  max-height: 250px;
}
